/* You can add global styles to this file, and also import other style files */

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';





body {
  font-size: .9rem;
}

.page-wrapper.toggled .sidebar {
  left: -300px;
}

// angular perfect scrollbar style
.sidebar .ps.ps--scrolling-y>.ps__rail-y,
.sidebar>.ps.ps--scrolling-x>.ps__rail-x,
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: transparent !important;
}

.sidebar .ps.ps--active-y>.ps__rail-y:hover,
.sidebar>.ps.ps--active-y>.ps__rail-y.ps--clicking {
  width: 10px !important;
}

.ps__thumb-y {
  background-color: #fff !important;
  width: 6px!important;
  border-radius: 0px!important;
  opacity: .5;

}

.font-size-3{
  font-size: 3rem;
}
.font-size-2-5{
  font-size: 1.2rem;
  @media screen and (min-width: 600px){
    font-size: 1.5rem;
    
  }
}
.font-size-2{
  font-size: 0.9rem;
  @media screen and (min-width: 600px){
    font-size: 1.2rem;
    
  }
}

.mr-t-7{
  margin-top:7rem;
}

.poz-abs-addon{
  top:1rem;
   left:0; 
   right: 0;
}

.desktop-table-container{
  display: none;
  @media screen and (min-width: 1100px){
 display: inherit;
  }

}

.w-3rem{
  width: 8rem;
}

.mobile-table-container{
  display: inherit;
  @media screen and (min-width: 1100px){
  display: none;
  }
}
.stats-item-box{
  @media screen and (min-width: 1400px){
    font-size: 3rem;
    width: 10rem;
  }
  @media screen and (min-width: 800px){
    max-width: 500px;
    font-size: 2rem;
    
  }

  @media screen and (min-width: 1100px){
    max-width: 700px;
  }
  font-size: 1.5rem;
  max-width: 700px;
  width: 10rem;

 
}

.bg-gradient-secondary{
  background-image: linear-gradient(rgba(54, 2, 27, 0.76), rgb(12, 2, 1));
}

.mw-900{
  max-width: 900px;
}


.modal-dialog {
  //max-width: 1224px;
  //margin: 1.75rem auto;
 // min-height: 1000px;
  box-sizing: border-box;
}
.cal-grid-cell-month{
  color:white;
  min-height: 20rem;
  border: 1px solid white;
  height: 5rem;
  width: 8rem;
  font-size: 1.2rem;

  &:hover{
    background-color: $dark;
    cursor: pointer;
  }
}

.cal-grid-heading{
 min-height: 5rem;
 text-align: center;  
}

.free-hour{
  min-width:8rem;
  cursor: pointer;
}
.today{
  background-color: rgba(54, 2, 27, 1);
}

.lesson-box{
  
}
.used{
  background-color: red;
}