
<div class="card w700">
        <div class="">
                <div class="card-header shadow p-3 bg-gradient-secondary text-white">
                    <h2 class="text-center">Rezerwacja Jazdy</h2>
                </div>
            </div>
    <form [formGroup]="lesson"  class="border border-light p-5">
        
        <div class="">
            <div class="">
                <h4 class="m-1 p-2"><i class="far fa-person m-1 p-2"></i>
                    {{'Instruktor: '+ calendarService.getInstructor().name +' '+ calendarService.getInstructor().surname}}</h4>
            </div>
        </div>
        <div class="">
            <i class="far fa-calendar-alt m-1 p-2"></i>{{formatDate()}} <br>
            <i class="far fa-clock m-1 p-2"></i> {{formatHour()}}
        </div>

        <div class="">
            <p>
                <a href="" target="_blank">Regulamin Rezerwacji Jazd</a>
            </p>
        </div>
        <div *ngIf="!this.calendarService.getStudent()" class="form-group">
            <label for="student">Kursant</label>
            <select id="student"  class="form-control" formControlName="student"
            aria-describedby="courseCategoryHelpBlock" required="required">
            <option *ngFor = "let theStudent of instructorStudents, let i = index" 
            [value] ="i" >{{theStudent.name + " " + theStudent.surname}}</option>
        </select>
        </div>
        <div class="form-group ">
                <label for="duration">Długość Zajęć:</label>
                <select class="form-control mb-4 initialized shadow" id="duration" formControlName="duration">
                  <option value=''>Wybierz długość zajęć</option>
                  <option value ="1">1 Godzina</option>
                  <option value ="2">2 Godziny</option>
                  <option value ="3">3 Godziny</option>
                  <option value ="2">Jazda łączona, 2 Godziny</option>
                </select>
              </div>

<div class="">
        <label for="description">Dodatkowe Informacje:</label>
    <input type="text" id="description" class="form-control mb-4 shadow" placeholder="Dodatkowe Informacje" formControlName="description">
</div>

            <div class="form-group ">
                    <label for="exampleFormControlSelect2">Miejsce spotkania z Instruktorem:</label>
                    <select class="form-control mb-4 initialized shadow" id="place" formControlName="place">place
                      <option value=''>Wybierz miejsce spotkania z instruktorem</option>
                      <option value ="Siedziba Ośrodka, Ul Kościuszki 65, Radomsko">Siedziba Ośrodka, Ul Kościuszki 65, Radomsko</option>
                      <option value ="Plac Manewrowy, Ul Zmyślona 87, Radomsko">Plac Manewrowy, Ul Zmyślona 87, Radomsko</option>
                      <option value ="Pod Kościołem Sw Anny, Kietlin">Pod Kościołem Sw Anny, Kietlin</option>
                      <option value ="Przyjeź po mnie">Przyjeź po mnie</option>
                    </select>
                  </div>

<div class="">
    <div class="d-flex justify-content-between ">
        <div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Zapamiętaj to miejsce</label>
            </div>
        </div>
    </div>
</div>
<div class="">
    <button type="button" class="btn btn-danger btn-block my-4" (click)="book()"><h5>Rezerwuj</h5></button>
</div>
</form>
</div>