<!-- <button type="button" (click)="backProductCard()" class="btn btn-outline-primary m-2"> <i
        class="fa fa-arrow-left font-size-3 text-dark" aria-hidden="true"></i></button> -->
<div class="m-5">
  
    <div class="card">
        <!-- <div class="card-header card-header-text card-header-warning bg-gradient-secondary text-white">
            <div class="card-text">
                <h4 class="card-title">Umówione Zajęcia</h4>
            </div>
        </div> -->
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="text-danger">
                    <tr>
                        <th>Opis</th>
                        <th><i class="fas fa-chalkboard-teacher font-size-2 pt-1 "></i> Instruktor</th>
                        <th> <i class="far fa-calendar  p-2"></i> Data</th>
                        <th> <i class="far fa-clock  p-2"></i> Godzina</th>
                        <th> <i class="fas fa-map-marker-alt p-2 "></i> Miejsce</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let event of events'>
                        <td>{{event.description}}</td>
                        <td>Grzegorz Biś</td>
                        <td>{{getNextBookingDate(event.dateFrom)}}</td>
                        <td> {{getNextBookingTime(event.dateFrom) + '-' +getNextBookingTime(event.dateTo) }} </td>
                        <td>Plac Manewrowy, Radomsko</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>