<div class="container">
<div class="row mt-5">
        <div class="col-8 border">
  <app-bar-chart></app-bar-chart>
        </div>
        <div class="col-4 border">
          <div class="card">
            
              <div class="card-body">
                    <img class="card-img-top" src="/assets/img/user.jpg" alt="Card image cap">
                  <h4 class="card-title">Paweł Skórniewski</h4>
                  <div class="card text-white bg-info">
                    <div class="card-body">
                      <h4 class="card-title">Nazwa Kursu</h4>
                 
                  <p class="card-text"> Wykłady: 30 godzin</p>
                  <p class="card-text"> Jazdy: 30 godzin</p>
                  <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                      </div>
                  <p class="card-text"> Cena: 1800.00 PLN</p>
                  <p class="card-text"> Do zapłaty: <span class="text-danger">1000.00 PLN</span></p>
                    </div>
                  </div>
                 
              </div>
              <div class="card-body">
                  <button type="button" class="btn btn-secondary m-1 w-100">Umów Jazdę</button>
                  <button type="button" class="btn btn-outline-secondary m-1 w-100">Zapłać za kurs</button>              </div>
          </div>
        </div>
    </div>