<div class="container ">
    <div class="card">
      <div class="card-header text-white bg-dark">
        <div class="row">
          <h4 class="pl-4">Kursanci</h4>
          <div class="ml-auto">
           <form class="form-inline my-2 my-lg-0" >
               <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
             </form>
         </div>
        </div>
        
      </div>
      <div class="card-body">
       <table class="table table-hover">
         <thead>
           <tr>
             <th scope="col">ID</th>
             <th scope="col">Imie i Nazwisko</th>
             <th scope="col">Kategoria</th>
            
             <th scope="col">Telefon</th>
             <th scope="col">Saldo</th>
             <th scope="col">Liczba Godzin</th>
             <th scope="col">Ostatnia Jazda</th>
             <th scope="col"></th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th scope="row">1</th>
             <td>Grzegorz Biś <img src="http://clipart-library.com/images/5iRXRgzRT.png" class="rounded-circle img-thumbnail" style="width: 40px;"></td>
             <td>C+E</td>
             <td>698564758</td>
             <td class="text-warning">-1900,00 PLN</td>
             <td>12</td>
             <td>2019-12-07</td>
             <td><a name="" id="" class="btn btn-outline-primary" href="#" role="button"><i class="fa fa-bars" aria-hidden="true"></i></a>
             </td>
           </tr>
           <tr>
               <th scope="row">2</th>
               <td>Grzegorz Biś <img src="http://clipart-library.com/images/5iRXRgzRT.png" class="rounded-circle img-thumbnail" style="width: 40px;"></td>
               <td>C+E</td>
               <td>698564758</td>
               <td class="text-warning">-1900,00 PLN</td>
               <td>12</td>
               <td>2019-12-07</td>
               <td><a name="" id="" class="btn btn-outline-primary" href="#" role="button"><i class="fa fa-bars" aria-hidden="true"></i></a>
               </td>
             </tr>
             <tr>
                 <th scope="row">3</th>
                 <td>Grzegorz Biś <img src="http://clipart-library.com/images/5iRXRgzRT.png" class="rounded-circle img-thumbnail" style="width: 40px;"></td>
                 <td>C+E</td>
                 <td>698564758</td>
                 <td class="text-warning">-1900,00 PLN</td>
                 <td>12</td>
                 <td>2019-12-07</td>
                 <td><a name="" id="" class="btn btn-outline-primary" href="#" role="button"><i class="fa fa-bars" aria-hidden="true"></i></a>
                 </td>
               </tr>
               <tr>
                   <th scope="row">4</th>
                   <td>Grzegorz Biś <img src="http://clipart-library.com/images/5iRXRgzRT.png" class="rounded-circle img-thumbnail" style="width: 40px;"></td>
                   <td>C+E</td>
                   <td>698564758</td>
                   <td class="text-warning">-1900,00 PLN</td>
                   <td>12</td>
                   <td>2019-12-07</td>
                   <td><a name="" id="" class="btn btn-outline-primary" href="#" role="button"><i class="fa fa-bars" aria-hidden="true"></i></a>
                   </td>
                 </tr>

                 <tr>
                     <th scope="row">5</th>
                     <td>Grzegorz Biś <img src="http://clipart-library.com/images/5iRXRgzRT.png" class="rounded-circle img-thumbnail" style="width: 40px;"></td>
                     <td>C+E</td>
                     <td>698564758</td>
                     <td class="text-success">0,00 PLN</td>
                     <td>12</td>
                     <td>2019-12-07</td>
                     <td><a name="" id="" class="btn btn-outline-primary" href="#" role="button"><i class="fa fa-bars" aria-hidden="true"></i></a>
                     </td>
                   </tr>

                   <tr>
                       <th scope="row">6</th>
                       <td>Grzegorz Biś <img src="http://clipart-library.com/images/5iRXRgzRT.png" class="rounded-circle img-thumbnail" style="width: 40px;"></td>
                       <td>C+E</td>
                       <td>698564758</td>
                       <td class="text-warning">-1900,00 PLN</td>
                       <td>12</td>
                       <td>2019-12-07</td>
                       <td><a name="" id="" class="btn btn-outline-primary" href="#" role="button"><i class="fa fa-bars" aria-hidden="true"></i></a>
                       </td>
                     </tr>
         </tbody>
       </table>
      </div>
      <div class="card-footer text-muted">
       <nav aria-label="Page navigation example">
         <ul class="pagination justify-content-center">
           <li class="page-item disabled">
             <a class="page-link" href="#" tabindex="-1">Previous</a>
           </li>
           <li class="page-item"><a class="page-link" href="#">1</a></li>
           <li class="page-item"><a class="page-link" href="#">2</a></li>
           <li class="page-item"><a class="page-link" href="#">3</a></li>
           <li class="page-item">
             <a class="page-link" href="#">Next</a>
           </li>
         </ul>
       </nav>
      </div>
    </div>
   </div>
