<div   class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
  <app-customers-sidebar-menu></app-customers-sidebar-menu>
   <main class="page-content">
    <div (window:resize)="onResized($event)" class="container-fluid">
        <div class="row">
            <div class="form-group col-md-12">
                <button *ngIf="getSideBarState()" (click)="toggleSidebar()" type="button" class="btn btn-outline-primary"> <i class="fa fa-bars" aria-hidden="true"></i> </button>
                <!-- <a href="#" class="btn btn-outline-secondary mr-1 mb-1" (click)="toggleSidebar()">Toggle Sidebar</a> -->
            </div>
        </div>

    </div>
    <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
    <router-outlet></router-outlet>
</main>
  
