<div class="card  border-0">
    <div *ngIf='!student' class="card-header  border-0 text-white bg-dark ">
      <nav aria-label="breadcrumb ">
        <ol class="breadcrumb  bg-transparent ">
          <li class="breadcrumb-item "><a class="text-warning font-size-2" href="#">Dashboard</a></li>
          <li class="breadcrumb-item  text-warning active font-size-2 " aria-current="page">Kursy</li>
        </ol>
      </nav>
      <div class="row">
        <h4 class="pl-5 font-size-2-5">Kursy</h4>
      </div>
  
    </div>
    <div class="card-body">
      <div class="container  ">
        <div  *ngIf='!student' class="desktop-table-container">
          <app-stats-bar [stats]="stats" class="my-2 position-absolute poz-abs-addon"></app-stats-bar>
        </div>
        <div class="desktop-table-container">
          <div class="card shadow" [ngClass]="{'mr-t-7': false}">
            <div class="card-body ">
              <div  *ngIf='!student' class="align-right m-3">
                <form class="form-inline my-2 my-lg-0 pr-4" [formGroup]="search">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" formControlName="searchString"
                    aria-label="Search">
                  <button class="btn btn-warning my-2 my-sm-0" (click)="Search()" type="button">Search</button>
                  <button class="btn btn-primary mx-4 my-2 my-sm-0" (click)="addCourse()" type="button">Dodaj
                    Kurs</button>
                </form>
              </div>
  
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Kategoria</th>
  
                    <th scope="col">Data Rozpoczęcia</th>
                    <th scope="col">Data Zakończenia</th>
                    <th scope="col">Liczba Uczestników</th>
                    <th scope="col">Cena</th>
                    <th scope="col"></th>
                  </tr>
                </thead>

                <tbody >
                  <tr  *ngFor="let course of courses" class="clickable">
                    <th scope="row">{{course.id}}</th>
                    <td>{{course.name}}</td>
                    <td>{{course.category.symbol}}</td>
                    <td>{{formatDate(course.startDate)}}</td>
                    <td class="text-warning" ></td>
                    <td>{{course.students.length}}</td>
                    <td>{{formatAmount(course.price)}}</td>
                    <td>
                      <!-- <a name="" id="" class="btn btn-outline-secondary" href="#" role="button"><i class="fa fa-bars"
                        aria-hidden="true"></i></a> -->
                      <div class="btn-group" dropdown>
  
                        <a name="dropdown-toggle" id="dropdownToggle" class="btn btn-outline-secondary zindex-dropdown"
                          dropdownToggle role="button"><i class="fa fa-bars" aria-hidden="true"></i></a>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                          aria-labelledby="button-basic">
                          <li role="menuitem"><a class="dropdown-item" (click)="showCourseDetails(course)">Karta
                              Kursu</a></li>
                          <li role="menuitem"><a class="dropdown-item" (click)="assignStudent(course)">Zapisz Kursanta</a></li>
                          <li role="menuitem"><a class="dropdown-item" (click)="addLesson(course)">Dodaj Harmonogram</a></li>
                          <li class="divider dropdown-divider"></li>
                          <li role="menuitem"><a class="dropdown-item" (click)="showCourseDetails(course)">Zakończ Kurs</a>
                          
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf='!student' class="card-footer text-muted">
                <div class="row">
                  <div class="col-md-4 gb-dark">
                      <button type="button" class="btn btn-dark"
                      aria-controls="dropdown-dropup">
                      {{'Wszystkich: ' + total}}
              </button>
                  </div>
                  <div class="col-md-4">
                      <nav aria-label="Page navigation example">
                          <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                              <a class="page-link text-light bg-dark" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item clickable" *ngFor="let page of pages">
                              <a class="page-link text-light bg-dark" (click)="goToPage(page)">{{page}}</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link text-light bg-dark" href="#">Next</a>
                            </li>
                          </ul>
                        </nav>
                                </div>
                  <div class="col-md-4 text-right ">
                      <div class="btn-group" dropdown dropup="true">
                          <button id="button-dropup" dropdownToggle type="button" class="btn btn-dark dropdown-toggle"
                                  aria-controls="dropdown-dropup">
                            {{'Wyświetlanych: ' + filter.limit}} <span class="caret"></span>
                          </button>
                          <ul id="dropdown-dropup"  *dropdownMenu class="dropdown-menu"
                              role="menu" aria-labelledby="button-dropup">
                            <li role="menuitem" *ngFor="let size of pageSizes" (click)="OnPageSizeChange(size)" ><a class="dropdown-item" >{{size}}</a></li>
                          </ul>
                        </div>
              </div>
          </div>
        </div>
  
        <div class="mobile-table-container">
          <div class="card shadow ">
            <div class="card-body ">
              <div  *ngIf='!student' class="align-right m-3">
                <form class="form-inline my-2 my-lg-0 pr-4">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  
                </form>
              </div>
              <div class="table-responsive-sm">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col-md-aut ">Nazwa</th>
                      <th scope="col-md-aut">Kategoria</th>
                      <th scope="col-md-aut">Kursanci</th>
                    </tr>
                  </thead>
  
  
                </table>
              </div>
            </div>
            <div *ngIf='!student' class="card-footer text-muted">
              <div class="row">
                <div class="col-md-4 gb-dark">
                  <p class="page-link text-light bg-dark">Rozmiar Strony</p>
                </div>
                <div class="col-md-4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                          <li class="page-item disabled">
                            <a class="page-link text-light bg-dark" href="#" tabindex="-1">Poprzednia</a>
                          </li>
                          <li class="page-item "><a class="page-link text-light bg-dark" href="#">1</a></li>
                          <li class="page-item"><a class="page-link text-light bg-dark" href="#">2</a></li>
                          <li class="page-item"><a class="page-link text-light bg-dark" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link text-light bg-dark" href="#">Następna</a>
                          </li>
                        </ul>
                      </nav>
                </div>
                <div class="col-md-4">
                  Total 100 Items
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>