<div class="card-block">

    <div class="card-body  ">
        <div class="row my-3">
            <h4 class="col card-title">Kurs Lipcowy 10.07.2019</h4>
            <h5 class="col-3 card-title"> <span class="badge badge-danger">Kategoria B</span>
            
            </h5>

        </div>

        <hr class="bg-white mx-1">
        <div class="row">

            <div class="col my-auto">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mx-1">Grzegorz Biś</h5>
                        <small class="text-white pl-1">Instruktor Prowadzący</small> <br>
                        <i class="fas fa-at 2 mx-1" aria-hidden="true"></i>grzegorz.bis@oskportal.pl <br>
                        <i class="fa fa-mobile-alt mx-1" aria-hidden="true"></i> +48607657434
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="./assets/img/user.jpg"
                    class="img-fluid rounded-top,rounded-right,rounded-bottom,rounded-left, w-3rem" alt="avatar">
            </div>
        </div>
        <hr class="bg-white mx-1">
                <div class="row">

                        <div class="col my-auto border-right border-white">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mx-1">Następna Jazda</h5>
                                 <br>
                                 <i class="fas fa-map-marker-alt m-1"></i> Plac Manewrowy, Radomsko <br>
                                 <i class="far fa-calendar-alt m-1"></i>12 Sierpnia 2018 <br>
                                 <i class="far fa-clock m-1"></i> Godzina 14:00
                                </div>
                            </div>
                        </div>
                        <div class="col my-auto bl-1">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="mx-1">Ostatnia Jazda</h5>
                                     <br>
                                     <i class="fas fa-map-marker-alt m-1"></i> Biuro Kościuszki, Radomsko <br>
                                     <i class="far fa-calendar-alt m-1"></i>3 Sierpnia 2018 <br>
                                     <i class="far fa-clock m-1"></i> Godzina 14:00
                                    </div>
                                </div>
                            </div>
                    </div>
            
                  <hr class="bg-white mx-1">
            <div class="row">

                    <div class="col my-auto border-right border-white">
                        <div class="media">
                            <div class="media-body text-center">
                                <h5 class="mx-1">30 Godzin</h5>
                                <small class="text-white pl-1">Wykłady</small>
                                <div class="progress m-2">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="50"
                                            aria-valuemin="0" aria-valuemax="100">100%</div>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                            <div class="media">
                                <div class="media-body text-center">
                                    <h5 class="mx-1 text-warning" >30 Godzin</h5>
                                    <small class="text-white pl-1">Jazdy</small>
                                    <div class="progress m-2">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50"
                                                aria-valuemin="0" aria-valuemax="100">50%</div>
                                        </div>
                                </div>
                            </div>
                        </div>
                </div>
                <hr class="bg-white mx-1">
            <div class="row">

                    <div class="col my-auto border-right border-white">
                        <div class="media">
                            <div class="media-body text-center">
                                <h5 class="mx-1">1800.00 PLN</h5>
                                <small class="text-white pl-1">Cena Kursu</small>
                            </div>
                        </div>
                    </div>

                    <div class="col my-auto">
                            <div class="media">
                                <div class="media-body text-center">
                                    <h5 class="mx-1 text-warning" >1000.00 PLN</h5>
                                    <small class="text-white pl-1">Pozostało do zapłaty</small>
                                </div>
                            </div>
                        </div>
                </div>
            <hr class="bg-white mx-1">


            <button type="button" class="btn btn-danger m-1 w-100">Umów Jazdę</button>
            <button type="button" class="btn btn-outline-danger m-1 w-100">Zapłać za kurs</button>

        <p class="card-text"><small class="text-muted">Ostatnia Wpłata: 29-06-2019</small></p>
    </div>
</div>