<div class="col-3 my-5 mw-100 p-20">
    <div class="p-20">
        <div class="card bg-warning shadow card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon text-center p-2">
                  <i [ngClass]="statItem.class" ></i>
              </div>
              <p class="card-category text-center">{{statItem.name}}</p>
              <h3 class="card-title text-center">{{statItem.value}}               
              </h3>
            </div>
          </div>
    </div>
  </div>