<div class="">
    <div class="card-header p-3 bg-gradient-secondary text-white">
        <h2 class="text-center">Dodaj do kursu</h2>
    </div>
</div>

<div class="card">

    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead class="text-danger">
                <tr>
                    <th><i class="fas fa-chalkboard-teacher font-size-2 pt-1 "></i> Nazwa</th>
                    <th><i class="fas fa-chalkboard-teacher font-size-2 pt-1 "></i> Data Rozpoczęcia</th>
                    <th> <i class="far fa-calendar  p-2"></i> Miejsce</th>
                    <th> <i class="far fa-clock  p-2"></i> Kategoria</th>
                    <th>  </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let course of courses, let i = index'>
                    <td>{{course.name}}</td>
                    <td>{{formatDate(course.startDate)}}</td>
                    <td>{{course.place}}</td>
                    <td>{{course.category.symbol}} </td>
                    <td><a (click)="addToCourse(course._id, index)" class="btn btn-primary active" role="button">Zapisz</a>
                        <!-- <a (click)="deleteFromCourse(student._id)" class="btn btn-primary active" role="button">Usuń</a>  -->
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>